*{
margin:0;
padding:0;
box-sizing:border-box;
text-decoration:none;
list-style:none;
color:white;
}

html{
scroll-behavior:smooth;
}

body{
width:100vw;
overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6,p,a{
margin:10px 0;
}

nav{
margin:0px 0px;
}

nav.desktop_nav{
margin:0px 0px;
width:100vw;
display:flex;
justify-content:space-between;
align-items:center;
text-align:center;
padding:10px;
position:sticky;
z-index:999;
top:0;
background: rgba(161,222,43,0.5);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.1px);
-webkit-backdrop-filter: blur(4.1px);
border: 1px solid rgba(255, 255, 255, 0.01);
}

.mobile_nav{
width:80vw;
display:none;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
height:95vh;
background: rgba(161,222,43,0.5);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.1px);
-webkit-backdrop-filter: blur(4.1px);
border: 1px solid rgba(255, 255, 255, 0.01);
position:fixed;
top:0;
right:0;
border-radius:7px;
z-index:9999;
}

.show{
display:flex;
}

.list_item_mobile{
flex:1;
margin:20px;
font-size:1.3rem;
}

.nav_menu_exit{
font-size:4rem;
margin:5px;
position:absolute;
right:0;
top:0;
}

.nav_button_mobile{
color:black;
padding:5px;
border-radius:7px;
background:white;
text-shadow:none;
font-size:1.3rem;
}

div.nav_logo{
display:flex;
justify-content:space-around;
align-items:center;
text-align:center;
}

.sectionii_logo{
display:flex;
justify-content:space-around;
align-items:center;
text-align:center;
}

div.nav_logo > img{
width:15px;
height:15px;
border-radius:50%;
}


.sectionii_logo > img{
width:15px;
height:15px;
border-radius:50%;
}

.block{
font-family:'Acme';
flex:1;
}

.gotic{
font-family:'Updock';
flex:1;
}

ul.nav_menu{
display:flex;
justify-content:space-around;
align-items:center;
text-align:center;
}

li.list_item{
padding:0 5px;
font-weight:1000;
font-size:12px;
cursor:pointer;
}

div.nav_icons{
}

div.nav_button{
padding:5px;
border-radius:7px;
background:white;
color:#0b0b25;
text-shadow:none;
box-shadow:0 0 5px rgba(0,0,0,.5);
}

div.nav_menu_bar{
display:none;
}

section#i{
width:100vw;
height:100vh;
display:flex;
justify-content:space-between;
align-items:center;
text-align:center;
}

.sectioni_bg{
object-fit:cover;
position:absolute;
z-index:-1;
width:100vw;
height:100vh;
}



.sectioni_left{
flex:1;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}
 
 .sectionii_left{
 width:100%;
 min-width:300px;
 flex:1;
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
 text-align:center;
 }
 
.sectioni_left h1{
text-shadow:0 0 2px rgba(0,0,0,.5);
}

.sectioni_left h5{
text-shadow:0 0 2px rgba(0,0,0,.5);
}

.sectioni_left h6{
text-shadow:0 0 2px rgba(0,0,0,.5);
}


.sectioni_left_bottom{
display:flex;
flex-wrap:wrap;
width:100%;
justify-content:center;
align-items:center;

}

.sectioni_right{
flex:1;
display:flex;
flex-direction:column;
align-items:center;
justify-items:center;
text-align:center;
width:100%;
}

.search_div{
padding:10px 3px;
background:white;
border-radius:7px;
display:flex;
justify-content:space-around;
align-items:center;
}

.sectioni_btn{
padding:10px 4px;
background:#95A715;
border-radius:7px;
display:flex;
justify-content:space-around;
align-items:center;
border:none;
margin:5px;
}

.search_div > i{
color:#0b0b25;
}
.search_div > input{
outline:none;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:transparent;
border:none;
width:50px;
}

.play_trailer_icon{
display:flex;
justify-content:center;
align-items:center;
padding:5px;
width:30px;
height:30px;
background: rgba(161,222,43,0.5);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.1px);
-webkit-backdrop-filter: blur(4.1px);
border: 1px solid rgba(255, 255, 255, 0.01);
border-radius:50%;
text-shadow:0 0 0 rgba(0,0,0,.0001);
}

section#ii{
display:flex;
justify-content:space-around;
align-items:center;
width:100vw;
height:100%;
text-align:center;
padding-top:20 5vh;
}

.green_text{
color:#95A715;
flex:1;
}

.black_text{
color:#0b0b25;
flex:1;
}

.grey_text{
color:#aaa;
flex:1;
}

.mission_btn{
box-shadow:0 0 2px rgba(0,0,0,.5);
border:none;
border-radius:7px;
background:white;
padding:10px 3px;
color:#0b0b25;
flex:1;
}

section#iii{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
width:100vw;
height:100%;
}

.sectioniii_top{
flex:1;
width:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.sectioniii_top > h1{
color:black;{}
}

.sectioniii_bottom{
flex:1;
width:100%;
display:flex;
flex-wrap:wrap;
justify-content:space-around;
align-items:center;
text-align:center;
}

.sectioniii_bottom_cont{
width:250px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;
box-shadow:0 0 3px rgba(0,0,0,.5);
border-radius:7px;
margin:10px;
}

.sectioniii_bottom_cont:hover{
box-shadow:0 0 15px rgba(0,0,0,.5);
}

.sectioniii_img_div{
background:#95A715;
width:100%;
height:200px;
border-radius:7px;
display:flex;
justify-content:flex-end;

}

.sectioniii_img_div> img{
width:200px;
height:150px;
object-fit:cover;

}

.sectioniii_bottom_text{
display:flex;
flex-direction:column;
flex:1;
justify-content:center;
align-items:center;
text-align:center;
padding:3rem;
color:#aaa;
}

.sectioniii_bottom_text > h3{
color:black;
flex:1;
}

.sectioniii_bottom_text > p{
color:#aaa;
flex:1;
}

section#iv{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
width:100vw;
height:100%;
}

.sectioniv_h1{
color: #0b0b25;
}

.toggle{
display:flex;
}



.sectioniv_top{
flex:1;
width:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.sectioniv_bottom{
flex:1;
width:100%;
display:flex;
flex-wrap:wrap;
justify-content:space-around;
align-items:center;
text-align:center;
}

.sectioniv_bottom_cont{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;
box-shadow:0 0 3px rgba(0,0,0,.5);
border-radius:7px;
margin:10px;
width:300px;
height:100%;
}

.sectioniv_bottom img{
width:200px;
margin:5px;
background-size:100%;
object-fit:cover;
flex:1;
border-radius:7px;
}

#imgiv{


}

.sectioniv_bottom_text > h3{
color:#0b0b25;
flex:1;
}


.sectioniv_top > h3{
color:#95a715;

}
.sectioniv_bottom_text{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:5px;
}
.sectioniv_bottom_text > p{
color:#aaa;
flex:1;
}
.sectioniv_btn{
padding:10px;
border-radius:30px;
background:#95a715;
flex:1;
}

.sectioniv_time{
padding:3px;
color:#0b0b25;
background:#aaa;
border-radius:30px;
flex:1;
}

section#v{
width:100vw;
height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.sectionv_top {
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.sectionv_top h3{
color:#95a715;
}

.sectionv_top_h{
color:#0b0b25;
}

.section_top_p {
color:#aaa;
}

.sectionv_bottom{
display:flex;
flex-wrap:wrap;
justify-content:space-around;
align-items:center;
width:100%;
}

.sectionv_cont{
flex:1;
margin:5rem 1rem;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:10px;
box-shadow:0 0 3px rgba(0,0,0,.5);
border-radius:7px;
}

.sectionv_cont:hover{
box-shadow:0 0 15px rgba(0,0,0,.5);
}

.card{
width:180px;
height:130px;
position:absolute;
top:-2rem;
transform:rotate(-20deg);
z-index:99;
}

.card_div{
height:180px;
width:130px;
position:relative;
display:flex;
justify-content:center;
align-items:center;
}
 
.sectionv_text{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.card_type{
color:#0b0b25;
}

.card_desc{
color:#aaa;
}

.card_btn{
color:#95a715;
}

.card_btn > i {
color:#95a715;
}

.card_btn:hover{
color:white;
background:#95a715;
padding:10px;
border-radius:7px;
}

.card_btn:hover > i{
color:white;
}


section#vi{
width:100vw;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.sectionvi_top{
width:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.sectionvi_h1{
color:#0b0b25;
}

.sectionvi_p{
color:#aaa;
}




.slider{
display:flex;
flex-direction:row;
align-items:center;
text-align:center;
justify-content:space-around;
flex-wrap:wrap;
position:relative;
width:100vw;
height:150px;
overflow-x: hidden;
padding:10px;

}

.slide{
text-align:center;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
position:absolute;
width: 200px;
height:100px;
margin:10px;
padding:10px;
transition: all 0.5s;
box-shadow:0 0 3px rgba(0,0,0,.5);
z-index:9;
}



.loc_nam{
color:#0b0b25;
flex:1;
margin:5px;
}
.loc_add{
color:#0b0b25;
flex:1;
margin:5px;
}
.loc_dis{
color:#aaa;
flex:1;
margin:5px;
}

.arrow_slide{
width:100%;
height:100%;
display:flex;
flex-direction:row;
justify-content:space-around;
align-items:center;
position:absolute;
z-index:99;
margin:10px;
}

.leftArrow{
font-size:2rem;
color:black;
cursor:pointer;
width:50px;
height:50px;
display:flex;
justify-content:center;
align-items:center;
border-radius:50%;
background:rgb(31,143,171,.3);
}


.rightArrow{
font-size:2rem;
color:black;
cursor:pointer;
width:50px;
height:50px;
display:flex;
justify-content:center;
align-items:center;
border-radius:50%;
background:rgb(31,143,171,.3);
}

.sectionvi_bottom{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

}

a.sectionvi_btn{
color:white;
background:#0b0b25;
padding:10px;
border-radius:7px;
margin:5px;
}

h3.sectionvi_btn{
color:#95a715;
margin:5px;
}

section#vii{
display:flex;
justify-content:center;
flex-direction:column;
width:100vw;
height:100%;
align-items:center;
}

.sectionvii_img{
width:100%;
height:150px;
object-fit:cover;
border-radius:7px;
}

section#viii{
width:100vw;
height:100%;
display:flex;
flex-wrap:wrap;
justify-content:space-around;
text-align:center;
align-items:center;
padding:10px;
}

.s8logo{
width:20px;
height:20px;
}

.s8logodiv{
color:#0b0b25;
display:flex;
align-items:center;
justify-content:center;
}

.s8btncont{
display:flex;
justify-content:space-around;
align-items:center;
flex-wrap:wrap;
}

.s8btn{
display:flex;
justify-content:space-around;
align-items:center;
background:#0b0b25;
padding:2px 20px;
border-radius:7px;
}

.s8img{
width:200px;
height:300px;
}

.s8imgdiv{
width:100%;
height:300px;
border:2px solid red;
display:flex;
justify-content:center;
align-items:center;

}

.s8btnicon{
width:30px;
height:30px;
}

section#ix{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:#131a48;
width:100vw;
height:60vh;
padding:5px;
}

.emailform{
display:flex;
justify-content:space-between;
align-items:center;
background:#131a48;
width:300px;
height:100%;
background:rgba(255,255,255,.5);
border-radius:7px;
padding:10px;
height:40px;
}
.s9h3{
color:#95a715;
}
.emailbtn{
background:#95a715;
padding:10px;
border-radius:7px;
border:none;
}

.emailinput{
background:transparent;
border:none;
padding-left:5px;
}

section#x{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:#121c38;
width:100vw;
height:40vh;
padding:5px;

}

.s10text{
display:flex;

align-items:center;
justify-content:space-between;
}

section#xi{
display:block;
background:#121616;
width:100vw;
height:100%;
padding:5px;
box-sizing:border-box;
position:relative;
}

.s11text{
color:#ccc;
margin:10px;
}

.up{
display:flex;
justify-content:center;
align-items:center;
font-size:2rem;
position:absolute;
color:black;
bottom:5%;
right:5%;
width:30px;
height:30px;
background:rgba(255,255,255,1);
border-radius:50%;
}

.up i{
color:#0b0b25;
}

@media(max-width: 480px){

ul.nav_menu{
display:none;
}

div.nav_button{
display:none;
}

div.nav_menu_bar{
display:initial;
}

section#i{
flex-direction:column;
justify-content:center;
}

section#ii{
flex-direction:column;
justify-content:center;
}


}