@font-face{
font-family:acme;
src:url("Acme-Regular.ttf");
}
@font-face{
font-family:oswald;
src:url('Oswald-VariableFont_wght.ttf');
}
@font-face{
font-family:raleway;
src:url('Raleway-Italic-VariableFont_wght.ttf');
}
@font-face{
font-family:roboto;
src:url('RobotoCondensed-Regular.ttf');
}
@font-face{
font-family:square;
src:url('SquarePeg-Regular.ttf');
}
@font-face{
font-family:updock;
src:url('Updock-Regular.ttf');
}