@import url("fonts.css");

.fa-play{
display:flex;
justify-content:center;
align-items:center;
text-align:center;
width:100%;
font-size:2rem;
animation:play 2s infinite ease;
}


@keyframes play{
0%{opacity:1;}
5%{opacity:.5;}
10%{opacity:0;}
15%{opacity:0;}
20%{opacity:.5;}
25%{opacity:0;}
30%{opacity:0;}
70%{opacity:1;}
80%{opacity:.5;}
90%{opacity:0;}
100%{opacity:0;}
}

html{
scroll-behavior:smooth;
}
body{
overflow-x:hidden;
background:black;
box-sizing:border-box;
margin:0;
padding:0;
}
p{
font-family:'Square', sans-serif;
color:white;
}
a{
text-decoration:none;
color:#fff;
}

.x{
padding:5px 15px;
opacity:0.8;
background:#FF3000;
border-radius:100%;
}

.locateRound{
border-radius: 50%;
}

h1,h2,h3,h4,h5,h6{
font-family:'Roboto', sans-serif;
}


/*########  nav #######     */
nav.navCont{
position:sticky;
top:0;
width:100vw;
height:15vh;
z-index:999;
text-align:center;
overflow-x:hidden;
padding:0;
margin:0;
background-color:rgba(0,0,0,.8);
}



ul{
width:100%;
height:100%;
text-align:center;
display:flex;
justify-content:space-around;
align-items:center;
list-style:none;
padding:0;
margin:0;
}

nav.navCont ul li a{
text-decoration:none;
color:#832626;
font-family:'Acme', sans-serif;
}

section{
width:100vw;
overflow-x:hidden;
}

section#home{
width:100vw;
border:none;
overflow-x:hidden;
position:relative;
display:flex;
flex-wrap: wrap;
align-items:center;
justify-content:center;
text-align:center;
padding-bottom:20px;
padding-top:10px;
height:100vh;
}

.logo{
font-family: 'Square Peg', cursive;
position:absolute;
font-size:5rem;
opacity:0.5;
bottom:50%;
z-index:2;
background:#FF0000;
background:linear-gradient(to right, #FF0000 ,#FF8700 );
background-size:100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color:transparent;
-moz-text-fill-color:transparent;
}
.homeImg{
width:100%;
height:100%;
opacity:0.5;
}
.homeTextCont{
flex:1;
width:100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.house{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.houseII{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.hero{
flex:1;
width:100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.homeBtn{
width:200px;
height:60px;
border-radius:30px;
border:none;
background:#FF3000;
opacity:0.5;
}
.homeBtn a{
font-size:2rem;
}
.homeBtn:hover{
border:4px solid #FF3000;
background:transparent;
}
.homeText{
color:#fff;
opacity:0.8;

}
.Sm{
text-transform:uppercase;
}
.Lg{
opacity:1;
}

section#projects{
display:flex;
align-items:center;
justify-content:center;
}








.home:hover i{
color:gray;
}
.home.active i{
color:#158EBB;
}


.projects:hover i{
color:gray;
}

.projects.active i{
color:#BB7315;
}


.about:hover i{
color:gray;
}
.about.active i{
color:#BB15B9;
}



.contact:hover i{
color:gray;
}

.contact.active i{
color:#15BB4A;
}


.home:hover a{
color:gray;
}

.home.active a{
color:#158EBB;
}


.projects:hover a{
color:gray;
}
.projects.active a{
color:#BB7315;
}


.about:hover a{
color:gray;
}
.about.active a{
color:#BB15B9;
}


.contact:hover a{
color:gray;
}
.contact.active a{
color:#15BB4A;
}

nav.navCont ul li >i{
display:none;
font-size:1.3rem;
opacity:.5;
}

nav.navCont ul li:hover > i{
display:initial;
}

nav.navCont ul li.active i{
display:initial;
}


/*   #####   skill     ####     */
.skillCont{
z-index:999;
display:none;
width:100vw;
height:100vh;
position:absolute;
top:18%;
}
.initial{
display:initial;
}
.skill{
position:absolute;
display:flex;
flex-direction:column;
justify-content: center;
align-items: center;
width:70%;
}
div.skill img{
width:100px;
height:100px;
border-radius:50%;
border:3px solid white;
object-fit:cover;
}
.skillDesc{
text-align:center;
justify-content:center;
align-items:center;
display:flex;
border-radius:30px;
margin:5px;
padding:5px;
}
p{
color:white;
}

.jsYellow{
background:#FFD300;
}
div.skill.one img{
border:4px solid #FFD300;
}
.one{
animation:js 10s infinite ease;
}
.htmlRed{
background:#FF0023;
}
div.skill.two img{
border:4px solid #FF0023;
}
.two{
animation:html 10s infinite ease;
}
.cssBlue{
background:#022FFC;
}
div.skill.three img{
border:4px solid #022FFC;
}
.three{
animation:css 10s infinite ease;
}
.reactBlue{
background:#02EDFC;
}
div.skill.four img{
border:4px solid #02EDFC;
}
.four{
animation:react 10s infinite ease;
}
.nodejsGreen{
background:#02B558;
}
div.skill.five img{
border:4px solid #02B558;
}
.five{
animation:nodejs 10s infinite ease;
}


@keyframes js{
0%{opacity:.95;transform:translateX(50%);}
5%{opacity:.95;transform:translateX(0%);}
10%{opacity:.95;transform:translateX(0%);}
15%{opacity:0;transform:translateX(-50%);}
20%{opacity:0;transform:translateX(0%);}
25%{opacity:0;transform:translateX(0%);}
30%{opacity:0;transform:translateX(0%);}
70%{opacity:0;transform:translateX(0%);}
80%{opacity:0;transform:translateX(0%);}
90%{opacity:0;transform:translateX(0%);}
100%{opacity:0;transform:translateX(0%);}
}
@keyframes html{
0%{opacity:0;transform:translateX(0%);}
15%{opacity:0;transform:translateX(50%);}
20%{opacity:.95;transform:translateX(0%);}
25%{opacity:.95;transform:translateX(0%);}
30%{opacity:0;transform:translateX(-50%);}
35%{opacity:0;transform:translateX(0%);}
80%{opacity:0;transform:translateX(0%);}
90%{opacity:0;transform:translateX(0%);}
100%{opacity:0;transform:translateX(0%);}
}

@keyframes css{
0%{opacity:0;transform:translateX(0%);}
30%{opacity:0;transform:translateX(50%);}
35%{opacity:.95;transform:translateX(0%);}
40%{opacity:.95;transform:translateX(0%);}
45%{opacity:0;transform:translateX(-50%);}
50%{opacity:0;transform:translateX(0%);}
100%{opacity:0;transform:translateX(0%);}
}
@keyframes react{
0%{opacity:0;transform:translateX(0%);}
45%{opacity:0;transform:translateX(50%);}
50%{opacity:.95;transform:translateX(0%);}
55%{opacity:.95;transform:translateX(0%);}
60%{opacity:.95;transform:translateX(0%);}
65%{opacity:0;transform:translateX(-50%);}
100%{opacity:0;transform:translateX(0%);}

}
@keyframes nodejs{
0%{opacity:0;transform:translateX(0%);}
60%{opacity:0;transform:translateX(0%);}
65%{opacity:0;transform:translateX(50%);}
75%{opacity:.95;transform:translateX(0%);}
80%{opacity:.95;transform:translateX(0%);}
85%{opacity:.95;transform:translateX(0%);}
100%{opacity:0;transform:translateX(-50%);}
}

/*   ####### projects #######*/

section#projects{
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
}

main{
flex:1;
background:rgba(255,255,255,.7);
width:100%;
padding:10px;
box-shadow:0 0 0 rgba(0,0,0,.5),2px 2px 10px rgba(0,0,0,1);
}
.slideri {
display:flex;
flex-direction:column;
align-items:center;
text-align:center;
justify-content:center;
position:relative;
width: 100%;
max-width: 800px;
height:85vh;
overflow-x: hidden;
}

.slidei{
  display:flex;
  flex-direction:row;
  align-items:center;
  text-align:center;
  justify-content:space-around;
  flex-wrap:wrap;
  position:absolute;
  width: 100vw;
  height: 85vh;
  transition: all 0.5s;
}

.slidei img {
flex:1;
box-shadow:0 0 0 rgba(0,0,0,.5),2px 2px 20px rgba(0,0,0,1);
padding:2px;
border-radius:7px;
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.sliderii {
display:flex;
flex-direction:column;
align-items:center;
text-align:center;
justify-content:center;
position:relative;
width: 100%;
max-width: 800px;
height:85vh;
overflow: hidden;
}

.slideii{
  display:flex;
  flex-direction:row;
  align-items:center;
  text-align:center;
  justify-content:space-around;
  flex-wrap:wrap;
  position:absolute;
  width: 100vw;
  height: 85vh;
  transition: all 0.5s;
}

.slideii img {
flex:1;
box-shadow:0 0 0 rgba(0,0,0,.5),2px 2px 20px rgba(0,0,0,1);
padding:2px;
border-radius:7px;
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.slideriii {
display:flex;
flex-direction:column;
align-items:center;
text-align:center;
justify-content:center;
position:relative;
width: 100%;
max-width: 800px;
height:85vh;
overflow-x: hidden;
}

.slideiii{
  display:flex;
  flex-direction:row;
  align-items:center;
  text-align:center;
  justify-content:space-around;
  flex-wrap:wrap;
  position:absolute;
  width: 100vw;
  height: 85vh;
  transition: all 0.5s;
}

.slideiii img {
flex:1;
box-shadow:0 0 0 rgba(0,0,0,.5),2px 2px 20px rgba(0,0,0,1);
padding:2px;
border-radius:7px;
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.slideriv {
display:flex;
flex-direction:column;
align-items:center;
text-align:center;
justify-content:center;
position:relative;
width: 100%;
max-width: 800px;
height:85vh;
overflow-x: hidden;
}

.slideiv{
  display:flex;
  flex-direction:row;
  align-items:center;
  text-align:center;
  justify-content:space-around;
  flex-wrap:wrap;
  position:absolute;
  width: 100vw;
  height: 85vh;
  transition: all 0.5s;
}

.slideiv img {
flex:1;
box-shadow:0 0 0 rgba(0,0,0,.5),2px 2px 20px rgba(0,0,0,1);
padding:2px;
border-radius:7px;
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.sliderv {
display:flex;
flex-direction:column;
align-items:center;
text-align:center;
justify-content:center;
position:relative;
width: 100%;
max-width: 800px;
height:85vh;
overflow-x: hidden;
}

.slidev{
  display:flex;
  flex-direction:row;
  align-items:center;
  text-align:center;
  justify-content:space-around;
  flex-wrap:wrap;
  position:absolute;
  width: 100vw;
  height: 85vh;
  transition: all 0.5s;
}

.slidev img {
flex:1;
box-shadow:0 0 0 rgba(0,0,0,.5),2px 2px 20px rgba(0,0,0,1);
padding:2px;
border-radius:7px;
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.leftArrowi{
font-size:3rem;
position:absolute;
z-index:4;
color:purple;
bottom:1%;
left:30%;
opacity:.3;
cursor:pointer;
}

.leftArrowi:hover{
animation: leftMotioni 1s infinite ease;
}
.rightArrowi:hover{
animation: rightMotioni 1s infinite ease;
}
.rightArrowi{
font-size:3rem;
position:absolute;
z-index:4;
color:purple;
bottom:1%;
right:30%;
opacity:.3;
cursor:pointer;
}

@keyframes rightMotioni{
0%{transform:translateX(0%);
transition:1s ease;}
50%{transform:translateX(150%);
transition:1s ease;}
100%{transform:translateX(0%);
transition:1s ease;}
}

@keyframes leftMotioni{
0%{transform:translateX(0%);
transition:1s ease;}
50%{transform:translateX(-150%);
transition:1s ease;}
100%{transform:translateX(0%);
transition:1s ease;}
}
.leftArrowii{
font-size:3rem;
position:absolute;
z-index:4;
color:purple;
bottom:1%;
left:30%;
opacity:.3;
cursor:pointer;
}

.leftArrowii:hover{
animation: leftMotionii 1s infinite ease;
}
.rightArrowii:hover{
animation: rightMotionii 1s infinite ease;
}
.rightArrowii{
font-size:3rem;
position:absolute;
z-index:4;
color:purple;
bottom:1%;
right:30%;
opacity:.3;
cursor:pointer;
}

@keyframes rightMotionii{
0%{transform:translateX(0%);
transition:1s ease;}
50%{transform:translateX(150%);
transition:1s ease;}
100%{transform:translateX(0%);
transition:1s ease;}
}

@keyframes leftMotionii{
0%{transform:translateX(0%);
transition:1s ease;}
50%{transform:translateX(-150%);
transition:1s ease;}
100%{transform:translateX(0%);
transition:1s ease;}
}
.leftArrowiii{
font-size:3rem;
position:absolute;
z-index:4;
color:purple;
bottom:1%;
left:30%;
opacity:.3;
cursor:pointer;
}

.leftArrowiii:hover{
animation: leftMotioniii 1s infinite ease;
}
.rightArrowiii:hover{
animation: rightMotioniii 1s infinite ease;
}
.rightArrowiii{
font-size:3rem;
position:absolute;
z-index:4;
color:purple;
bottom:1%;
right:30%;
opacity:.3;
cursor:pointer;
}

@keyframes rightMotioniii{
0%{transform:translateX(0%);
transition:1s ease;}
50%{transform:translateX(150%);
transition:1s ease;}
100%{transform:translateX(0%);
transition:1s ease;}
}

@keyframes leftMotioniii{
0%{transform:translateX(0%);
transition:1s ease;}
50%{transform:translateX(-150%);
transition:1s ease;}
100%{transform:translateX(0%);
transition:1s ease;}
}

.leftArrowiv{
font-size:3rem;
position:absolute;
z-index:4;
color:purple;
bottom:1%;
left:30%;
opacity:.3;
cursor:pointer;
}

.leftArrowiv:hover{
animation: leftMotioniv 1s infinite ease;
}
.rightArrowiv:hover{
animation: rightMotioniv 1s infinite ease;
}
.rightArrowiv{
font-size:3rem;
position:absolute;
z-index:4;
color:purple;
bottom:1%;
right:30%;
opacity:.3;
cursor:pointer;
}

@keyframes rightMotioniv{
0%{transform:translateX(0%);
transition:1s ease;}
50%{transform:translateX(150%);
transition:1s ease;}
100%{transform:translateX(0%);
transition:1s ease;}
}

@keyframes leftMotioniv{
0%{transform:translateX(0%);
transition:1s ease;}
50%{transform:translateX(-150%);
transition:1s ease;}
100%{transform:translateX(0%);
transition:1s ease;}
}

.leftArrowv{
font-size:3rem;
position:absolute;
z-index:4;
color:purple;
bottom:1%;
left:30%;
opacity:.3;
cursor:pointer;
}

.leftArrowv:hover{
animation: leftMotionv 1s infinite ease;
}
.rightArrowv:hover{
animation: rightMotionv 1s infinite ease;
}
.rightArrowv{
font-size:3rem;
position:absolute;
z-index:4;
color:purple;
bottom:1%;
right:30%;
opacity:.3;
cursor:pointer;
}

@keyframes rightMotionv{
0%{transform:translateX(0%);
transition:1s ease;}
50%{transform:translateX(150%);
transition:1s ease;}
100%{transform:translateX(0%);
transition:1s ease;}
}

@keyframes leftMotionv{
0%{transform:translateX(0%);
transition:1s ease;}
50%{transform:translateX(-150%);
transition:1s ease;}
100%{transform:translateX(0%);
transition:1s ease;}
}

.articlei{
width:100%;
flex:1;
display:flex;
text-align:center;
align-items:center;
justify-content:center;
padding:5px;
opacity:0.8;
}

div.articlei span{

color:#B84A4A;
opacity:1;
}

.articleiv{
width:100%;
flex:1;
display:flex;
text-align:center;
align-items:center;
justify-content:center;
padding:5px;
opacity:0.8;
}

div.articleiv span{

color:#B84A4A;
opacity:1;
}

.articleii{
width:100%;
flex:1;
display:flex;
text-align:center;
align-items:center;
justify-content:center;
padding:5px;
opacity:0.8;
}

div.articleii span{

color:#B84A4A;
opacity:1;
}
.articleiii{
width:100%;
flex:1;
display:flex;
text-align:center;
align-items:center;
justify-content:center;
padding:5px;
opacity:0.8;
}

div.articleiii span{

color:#B84A4A;
opacity:1;
}

.articlev{
width:100%;
flex:1;
display:flex;
text-align:center;
align-items:center;
justify-content:center;
padding:5px;
opacity:0.8;
}

div.articlev span{

color:#B84A4A;
opacity:1;
}

section#about{
background:url("myImage2.jpg");
object-fit:contain;
}



article{
width:100%;
display:flex;
align-items:center;
justify-content:center;
flex-wrap:wrap;
background:rgba(0,0,0,.8);
}
#about img{
flex:1;
width:200px;
height:200px;
border-radius:50%;
object-fit:contain;
}
.aboutText{
flex:1;
width:40%;
margin-right:5px;
padding:5px;
}
.aboutText p{
font-family:san-serif;
font-weight:1000;
opacity:0.9;

}




section#contact{
display:flex;
align-items:center;
justify-content:center;
background:#121212;
object-fit:;
text-align:center;
flex-wrap:wrap;
}
.location{
justify-content:center;
align-items: center;
flex:1;
padding:10px;
display:flex;
flex-direction:column;
border-radius:50%;
}

div.loaction div.map{
flex:1;
border-raduis:50%;
}

div.location div.map div.canvas{
height:100px;
width:100px;
}

div.location div.map div.canvas iframe{
width:100%;
height:100%;
}

form{
text-align:center;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
border-radius:10px;
flex:1;
background:rgba(255,255,255,.2);

}
legend{
margin:5px;
flex:1;
display:flex;
width:100%;
flex-direction:column;
justify-content:center;
align-items:center;
}
input ,textarea{
height:2rem;
width:90%;
padding:5px;
background:rgba(0,0,0,.5);
border:none;
border-radius:7px;
margin:5px;
color:white;
}

input:hover{
box-shadow:0 0 0 rgba(255,255,255,.5),2px 2px 12px rgba(255,255,255,1);
}
textarea:hover{
box-shadow:0 0 0 rgba(255,255,255,.5),2px 2px 12px rgba(255,255,255,1);
}

label{
color:white;
font-weight:1000;
margin:5px;

}

.message{
color:white;
padding:2px;
display:flex;
justify-content:center;
align-items:center;
}

.btn{
width:200px;
height:60px;
border-radius:30px;
border:none;
background:#FF3000;
opacity:0.5;
}
btn a{
font-size:2rem;
}

.gitBtn{background:#5C6F76;}
.whatBtn{background:green;}
.faceBtn{background:blue;}
.twitBtn{background:#00BAFF;}
.instBtn{background:purple;}

.btn:hover{
border:4px solid #FF3000;
background:transparent;
}

.gitBtn:hover{
border:4px solid #5c6f76;
background:transparent;
}
.faceBtn:hover{
border:4px solid blue;
background:transparent;
}
.twitBtn:hover{
border:4px solid #00baff;
background:transparent;
}
.instBtn:hover{
border:4px solid purple;
background:transparent;
}
.whatBtn:hover{
border:4px solid green;
background:transparent;
}

.socialCont h1{
color:white;
}
.socialCont a> button> i{
font-size:2rem;
}

.socialCont{
flex:1;
text-align:center;
padding:5px;
}
.socialMedia{
padding:5px;
margin:5px;
}

.socialMedia> a >button{
margin:10px;
}

.socialMedia i{
font-size:2rem;
}
footer{
text-align:center;

}

footer p{
font-family:sans-serif;
color:#ccc;
}




/*section#home{
flex-direction:column;
}
.homeImg{
width:100%;
height:50%;
}
.homeBtn{
right:auto;
bottom:5%;
}
.logo{
position:relative;
top:0;


}
*/


nav.navCont ul li >i{
color:#832626;
opacity:1;
}


section{
width:100vw;
}
.a{
display:none;
}

nav.navCont ul li{
position:relative;
}
nav.navCont ul li >i{
display:initial;
font-size:2rem;
}



nav.navCont ul li:hover >i{
opacity:0.3;
}
nav.navCont ul li.active i{
opacity:0.3;
}



nav.navCont ul li:hover a.a {
display:initial;
position:absolute;
right:0;
font-family:'Updock', cursive;
font-size:20px;
}
nav.navCont ul li.active a.a {
display:initial;
position:absolute;
right:0;
font-family:'Updock', cursive;
font-size:20px;
}


#about img{
width:250px;
height:250px;
}
.aboutText{
text-align:center;
}
.aboutText p{
width:100%;
}
