@import url('fonts.css');

html{
scroll-behavior:smooth;
}

body{
margin:0;
padding:0;
box-sizing:border-box;
}

.fa-x{
color:white;
}

div.pageContainer{
display:flex;
flex-direction:column;
flex-wrap:wrap;
width:100vw;
max-width:1144px;
}





.navContainer{
height:0rem;
min-height:15.5vh;
overflow:hidden;
background:linear-gradient(to right bottom,#fff,#fff,#CC037D,purple,#cc037d,#fff,#fff);
}




a ,ul ,li{
text-decoration:none;
list-style:none;
cursor:pointer;

}

.flexRow{
display:flex;
flex-direction:row;
justify-content:space-between;
}

.menuBar{
position:absolute;
left:260px;
display:none;
top:0px;
font-size:20px;
padding:11px 21px;
color:white;
cursor:pointer;
}

.menuBarExit{
position:absolute;
left:200px;
display:none;
top:0px;
font-size:20px;
padding:11px 21px;
cursor:pointer;
}


.fa-bars:hover{
font-size:1rem;
transition:1s ease;
color:#49123E;
}

.fa-x:hover{
font-size:1rem;
color:red;
transition:1s ease;

}

.fa-bars:checked{
color:#49123E;
}
.fa-x:checked{
color:red;
}
.socialIconContainer{
display:flex;
padding-top:10px;
}

.socialIcon a{
margin:0px 5px;
color:#49123E;
cursor:pointer;
}

.socialIcon a:hover{
font-size:1.5rem;
}

.socialIcon a.facebook:hover{
color:blue;
}

.socialIcon a.instagram:hover{
color:purple;
}

.socialIcon a.youtube:hover{
color:red;
}

.socialIcon a.whatsapp:hover{
color:green;
}

li a{
padding:10px 10px;
color:#49123E;
font-family:'Acme';
cursor:pointer;
width:100%;
}

li a:hover{
background-color:#49123E;
color:#FFF;
border-radius:7px;

}


.list{
display:flex;
width:100%;
}

.navLogoContainer{
padding-top:10px;
padding-left:15px;
}

.navLogo{
animation:changeColor 5s infinite ease;
font-size:1.5rem;
font-weight:1000;
font-family:'Roboto';
cursor:pointer;
}

.toggle{
height:48vh;
}




@media(max-width:480px){



.listContainer{
margin-top: 10px;
width:100%;
}

.flexRow{
flex-direction:column;
}


.list{
flex-direction:column;
margin-top:35px;
}


li a{
color:white;
}
li a:hover{
background:#941562;
border-radius:100%;
}

.socialIconContainer{
position:absolute;
left:110px;
top:40px;
}

li {
width:200px;
background:linear-gradient(to right,#941562,#CC037D);
margin:5px 0;
padding:5px;
border-radius:3px;
}

li:hover{
padding:1rem 1.5rem;
text-transform:uppercase;
}
.menuBar{
display:initial;
}
}
/*,.......header..............*/

.header{

padding:0;
margin:0;
}

section#home{
height:100%;
}
div.firstpart{
background-image:url("Download/theheader.jpeg");
background-repeat:none;

background-size:100;
height:450px;
padding:0;
margin:0;
display:flex;
flex-direction:column;
text-align:center;
justify-content:center;
align-items:center;
}
div.firstpart h1{
color:white;
font-family:roboto;
font-size:2.5rem;
}
div.firstpart h3{
padding:3px 10px;
border-radius:10px;
color:white;
font-family:'Acme';
background-color:rgba(0,0,0,.5);
}

button.btn{
padding:1.2rem 3rem;
border:none;
border-radius:30px;
background:#CC037D;
opacity:.5;
}
button.btn a{
color:white;
font-size:1.5rem;
font-family:'Acme';
cursor:pointer;
}
button.btn:hover{
border:2px solid white;
background:transparent;
opacity:1;
}


/*   ......   category.........*/

.catMainContainer{
display:flex;
width:100vw;
flex-wrap:wrap;
justify-content:center;

}

.categoryContainer{
flex:1;
display:flex;
flex-direction:column;
text-align:center;
margin:5% 5%;
justify-content:center;
align-items:center;
box-shadow:0 0 0 rgba(0,0,0,.5),0px 0px 30px rgba(0,0,0,1);
border-radius:10px;
padding:10px;
}

.categoryContainer.i{
background:brown;
}

.categoryContainer.ii{
background:purple;
}

.categoryContainer.iii{
background:red;
}

.categoryContainer.iv{
background:orange;
}

.catImgContainer{
box-shadow:0 0 0 rgba(0,0,0,.5),2px 2px 30px rgba(0,0,0,1);
width:200px;
height:200px;
border-radius:100%;
padding:5px;
}

.catTextContainer h3{
font-family:'Acme';
color:white;
}

.catImg{
width:200px;
height:200px;
border-radius:100%;
}
.btnn{
padding:1.2rem 3rem;
border: 4px solid grey;
border-radius:30px;
background:transparent;
cursor:pointer;
}
.btnn a{
color:grey;
font-weight:1000;
}
.btnn:hover{
padding-left:100px;
padding-right:100px;
text-transform:uppercase;
}


/*  ..... slide   ............*/

.slider{
display:flex;
flex-direction:column;
align-items:center;
text-align:center;
justify-content:center;
flex-wrap:wrap;
position:relative;
width: 100%;
max-width: 800px;
height:100vh;
overflow-x: hidden;
}

.slide{
display:flex;
flex-direction:column;
align-items:center;
text-align:center;
justify-content:center;
flex-wrap:wrap;
position:absolute;
width: 100%;
max-width: 800px;
height: 100vh;
transition: all 0.5s;
}

div.youtube{
flex:1;

}

iframe{
border-radius:10px;
box-shadow:0 0 0 rgba(0,0,0,.5),2px 2px 30px rgba(0,0,0,1);

}

.article{
flex:1;
background:white;
padding:10px;
box-shadow:0 0 0 rgba(0,0,0,.5),2px 2px 10px rgba(0,0,0,1);
}

.article h4{
color:purple;
font-family:acme;
font-size:2rem;
}
.article p{
font-family:roboto;
color:grey;
font-weight:1000;
}

.leftArrow{
font-size:3rem;
position:absolute;
z-index:4;
color:purple;
bottom:1%;
left:30%;
opacity:.3;
cursor:pointer;
}

.leftArrow:hover{
animation: leftMotion 1s infinite ease;
}
.rightArrow:hover{
animation: rightMotion 1s infinite ease;
}
.rightArrow{
font-size:3rem;
position:absolute;
z-index:4;
color:purple;
bottom:1%;
right:30%;
opacity:.3;
cursor:pointer;
}

@keyframes rightMotion{
0%{transform:translateX(0%);
transition:1s ease;}
50%{transform:translateX(150%);
transition:1s ease;}
100%{transform:translateX(0%);
transition:1s ease;}
}

@keyframes leftMotion{
0%{transform:translateX(0%);
transition:1s ease;}
50%{transform:translateX(-150%);
transition:1s ease;}
100%{transform:translateX(0%);
transition:1s ease;}
}

@media(min-width:480px){
.slide{
flex-direction:row;
}

}
.goToTop{
position:fixed;
bottom:70%;
left:70%;
font-size:3rem;
opacity:.3;
}

.goToTop:hover{
opacity:1;

}
/* ....  footer    ...........*/

p.block{
color:#aaa;
display:block;
}

footer{
background:black;
height:100vh;
width:100vw;
max-width:1144px;
margin:0;
}

.about{
color:#fff;
font-size:15px;
flex:1;
margin:10px
font-family:sans-serif;
}

.contactIconCont{
display:flex;
flex-direction:row;
justify-content:space-around;
}

.contactIcon a{
color:#fff;
font-size:3rem;
padding:0 10px;
}

.face:hover{
color:blue;
}
.inst:hover{
color:purple;
}
.yout:hover{
color:red;
}
.what:hover{
color:green;
}

.form{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
text-align:center;
flex:1;
padding:5px;
background
}

legend{
color:white;
flex:1;
}

.inputBtn{
width:30px;
height:30px;
border-radius:7px;
flex:1;
text-align:center;
border:none;
}

.inputForm{
flex:5;
margin:5px;
height:30px;
border-radius:7px;
border:none;
background:grey;
}

.inputForm:focus{
border:2px solid white;
background:transparent;
color:white;

}


.footerContainer{
display:flex;
flex-direction:row;
flex-wrap:wrap;
text-align:center;
justify-content:center;
align-items:center;
height:100%;
background:black;
}

div.contact h3{
color:white;
}

.contact{
flex:1;
margin:10px;
}




.darkNav{
height:0rem;
min-height:15.5vh;
overflow:hidden;
background:linear-gradient(to right bottom,black,black,#CC037D,purple,#cc037d,black,black);
}

.darkNav a.navLogo{
color:#FF00A4;
}

.darkContent{
background:black;
display:flex;
width:100vw;
flex-wrap:wrap;
justify-content:center;
}

.darkUpdate{
display:flex;
flex-direction:column;
align-items:center;
text-align:center;
justify-content:center;
flex-wrap:wrap;
position:relative;
width: 100%;
max-width: 800px;
height:100vh;
overflow-x: hidden;
background:#161616;
}

.darkUpdate div.article{
background:#161616;
}

@keyframes changeColor{
0%{background:linear-gradient(to right, #DF1717, #FF0000 );
-webkit-background-clip:text;
background-clip:text;
-webkit-text-fill-color:transparent;
text-fill-color:transparent;}
10%{background: linear-gradient(to right,#D02929 , #DF1717 );
background-size:100%;
-webkit-background-clip:text;
background-clip:text;
-webkit-text-fill-color:transparent;
text-fill-color:transparent;}
20%{background: linear-gradient(to right, #BE3131, #D02929);
-webkit-background-clip:text;
background-clip:text;
-webkit-text-fill-color:transparent;
text-fill-color:transparent;}
30%{background: linear-gradient(to right, #A74040, #BE3131 );
-webkit-background-clip:text;
background-clip:text;
-webkit-text-fill-color:transparent;
text-fill-color:transparent;}
40%{background: linear-gradient(to right, #954646, #A74040);
-webkit-background-clip:text;
background-clip:text;
-webkit-text-fill-color:transparent;
text-fill-color:transparent;}
50%{background: linear-gradient(to right, #6F4E4E, #954646 );
-webkit-background-clip:text;
background-clip:text;
-webkit-text-fill-color:transparent;
text-fill-color:transparent;}
60%{background: linear-gradient(to right, #6F624E, #6F4E4E );
-webkit-background-clip:text;
background-clip:text;
-webkit-text-fill-color:transparent;
text-fill-color:transparent;}
70%{background: linear-gradient(to right, #93713C, #7D6846 );
-webkit-background-clip:text;
background-clip:text;
-webkit-text-fill-color:transparent;
text-fill-color:transparent;}
80%{background: linear-gradient(to right, #AB7A31, #93713C );
-webkit-background-clip:text;
background-clip:text;
-webkit-text-fill-color:transparent;
text-fill-color:transparent;}
90%{background:linear-gradient(to right,#CD8A24, #AB7A31 );
-webkit-background-clip:text;
background-clip:text;
-webkit-text-fill-color:transparent;
text-fill-color:transparent;}
100%{background: linear-gradient(to right,#E08F15, #CD8A24 );
-webkit-background-clip:text;
background-clip:text;
-webkit-text-fill-color:transparent;
text-fill-color:transparent;}

}
