/*THIS CSS CODE SELF WRITTEN BY MARVEE AMAS TO ASSIST HIS TUTORIAL WORK ,FEEL FREE TO USE*/


/*................GLOBAL...................*/

/*this is where we give styling properties to all elements generally ,in which they would in herit*/

*{
padding:0;
margin:0;
box-sizing:border-box;
}

ul,li,a{
text-decoration:none;
list-style:none;
}

a{
font-weight:1000;
}

i{
background:var(--bg);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

}
p{
color:white;
font-family:'Roboto',sans-serif;
}


.btn{
background:var(--bg);
padding:1.2rem 4rem;
border:none;
border-radius:1.5rem;
color:white;
cursor:pointer;
}

.btn > a{
color:white;
}
.btn:hover{
padding:1.4rem 6rem;
transition:0.5s ease-in-out;
}

/*.....GLOBAL ENDS HERE .................*/


/*.,..........FOR ALL PAGES ...............*/

/* some components which would be used on all pages or most pages would be declared styled here .eg the nav component snd footer */


body{
background:#131312;
width:100vw;
display:flex;
align-items:center;
text-align:center;
justify-content:center;
flex-direction:column;
overflow-x:hidden;
}

header.headerComponent{
flex:1;
position:sticky;
top:0;
width:100vw;
z-index:1111;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

nav{
padding:2rem 0;
margin:5px;
border-radius:30px;
width:100%;
box-shadow:0px 0px 5px rgba(255,255,255,.5);
background:rgba(0,0,0,.8);
}

nav ul.navList{
width:100%;
display:flex;
align-items:center;
justify-content:space-around;
}

li.navListItem{
flex:1;
}

nav ul.navList div{
flex:1;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
position:relative;
text-align:center;
cursor:pointer;
}

ul.navList div li{
position:absolute;
opacity:0;
background:var(--bg);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}


ul.navList div:hover li{
transform:translateY(-1.2rem);
opacity:1;
transition:2s ease;
}

.parentSpan{
flex:1;
font-family:'acme',sans-serif;
text-shadow:0 0 20px rgba(0,0,0,1);

}

.navLogoI{
font-size:1000;
font-size:2rem;
background:#cd0053;
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.navLogoII{
font-weight:700;
font-size:1.5rem;
-webkit-text-stroke:1px #ff6200 ;
color:transparent;
}



footer{
opacity:.8;
border:4px solid rgba(255,255,255,0.5);
width:100vw;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:5px;
color:white;
}


/*  SIDEBAR COMPONENT  */

.sideBar{
display:none;
position:fixed;
right:0;
top:0;
background:rgba(0,0,0,.8);
z-index:1111;
width:80%;
height:80%;
padding:20px;
box-shadow:-2px 2px 30px rgba(0,0,0,.8);
overflow:scroll;
}
.sideBar >ul > div{
margin-top:20%;
}
.deleteBar{
position:fixed;
color:white;
font-size:2rem;
}




/*.....FOR ALL PAGES ENDS HERE.......*/


/*   now let's start defining some individual  components  */



/* ..........HOME PAGE.......... */

/* HERO COMPONENT for homepage */

.heroComponent{
flex:1;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;
flex-wrap:wrap;
width:100vw;
overflow-x:hidden;
}

.hero-h-i{
margin:10px;
width:100%;
color:white;
font-size:3rem;
text-shadow:0 0 20px rgba(255,80,0,1);
}

.hero-h-iiiCont{
flex:1;
position:relative;
width:70%;
border:2px solid white;
border-radius:7px;
display:flex;
flex-wrap:wrap;
text-align:center;
align-items:center;
margin:10px;
padding:20vh;
justify-content:center;
}

.hero-h-iii{
flex:1;
width:100%;
font-size:2rem;
background:var(--bg);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
position:absolute;
}

.a{
animation: animateA 8s infinite ease  ;
}
.b{
animation: animateB 8s infinite ease ;
}
.c{
animation: animateC 8s infinite ease ;
}
.d{
animation: animateD 8s infinite ease ;
}


/* CATEGORIES COMPONENT for homepage */

.catComponent{
flex:1;
width:100vw;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding-top:5px;
overflow-x:hidden;
}

.catComponent div{
flex:1;
}

.catComponent div div{
width:100vw;
height:500px;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
padding:5px;
}

.catComponent div div img{
width:90%;
height:90%;
border-radius:10px;
position:relative;
}

img:hover{
box-shadow:0 0 12px rgba(255,255,255,.5);
}

.catComponent div button{
position:absolute;
z-index:11;
border-radius:0;
border-bottom-left-radius:30px;
}

/* IFRAME COMPONENT for homepage */

.iframeComponent{
flex:1;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
width:100vw;
padding-bottom:10px;
margin:10px;
}
.iframeVideo{
width:300px;
height:250px;
background-image:url("header.jpeg");
object-fit:contain;
box-shadow:0 0 12px rgba(255,255,255,.5);
}

.iframeArticles{
padding:5px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;
}
.iframeArticles h4{
flex:1;
background:var(--bg);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

}
.iframeArticles p{
flex:1;
}

/* .....FOR THE ABOUT PAGE .........*/

.aboutComponent{
background:url("iframeBg.jpeg");
width:100vw;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
position:relative;
z-index:-1111;
}
.aboutComponent h1{
position:absolute;
z-index:1;
top:10%;
font-size:2rem;
color:white;
text-shadow:2px 2px 12px rgba(0,0 ,0,.8);
}
.aboutComponent div{
position:absolute;
width:100vw;
height:100%;
z-index:-111;
background:rgba(0,0,0,.5);
}
.aboutComponent img{
width:200px;
height:200px;
border-radius:100%;
position:relative;
z-index:-11;
}

.aboutArticle{
color:white;
box-shadow:0 0 5px rgba(255,255,255,.5);
margin:10px;
width:80%;
padding:10px;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
border-radius:30px;

}

.locationComponent{
width:100%;
height:300px;
border:2px dotted white;
}


/*....CONTACT SECTION for contactpage.......*/

.socialComponent{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
width:100%;
}
.socialComponent h2{
font-size:2rem;
color:white;
text-shadow:2px 2px 12px rgba(255,255,255,.5);

}
.socialIconWrapper{
width:100%;
padding:5px;
display:flex;
justify-content:space-around;
align-items:center;
text-align:center;
}
.socialIconWrapper a i{
font-size:3rem;
cursor:pointer;
}

.submitText{
background:url("contact.jpeg");
position:fixed;
width:40%;
z-index:111111;
border-radius:10px;
display:flex;
flex-direction:column;
flex-wrap:wrap;
justify-content:center;
align-items:center;
text-align:center;
padding:10px;
display:none;

}

.submitText p{
color:black;
font-weight:1000;
}

.formComponent{
width:100%;
display:flex;
justify-content:space-around;
align-items:center;
text-align:center;
flex-direction:column;
padding:10px;
}
.inputWrapper{
width:80%;
margin:10px;
display:flex;
justify-content:space-around;
align-items:center;
text-align:center;
}

input{
padding:0.7rem 3rem;
border:none;
border-bottom:2px solid white;
background:transparent;
}

input:hover{
background:white;
border-radius:7px;
}

/* .....for all the getMovies comedy, horror ,action content section.... */

.categoryTitle{
color:white;
}

.contentComponent{
display:flex;
width:100%;
flex-wrap:wrap;
justify-content:space-around;
align-items:center;
text-align:center;
}
.movieWrapper{
display:flex;
flex-direction:column;
flex:1;
flex-wrap:wrap;
justify-content:center;
align-items:center;
text-align:center;
box-shadow:0 0 5px rgba(255,255,255,.5);
width:100%;
margin:5px;
padding:5px;
}

.movieImgWrapper img{
width:150px;
height:150px;
border-radius:10px;
}
.movieArticle{
background:url("contact.jpeg");
position:fixed;
left:10%;
top:10px;
width:80%;
height:80%;
z-index:111111;
border-radius:10px;
display:flex;
flex-direction:column;
flex-wrap:wrap;
justify-content:center;
align-items:center;
text-align:center;
padding:10px;
display:none;
overflow:scroll;
}
.movieWrapper h2{
background:var(--bg);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

}

.movieArticle p{
background:var(--bg);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
font-family:'Acme', sans-serif;
font-weight:500;
font-size:1rem;
}

.movieArticleExit{
font-size:2rem;
color:white;
text-shadow:1px 1px 12px rgba(0,0,0,1);
}

/* DEFINING EACH COMPONENTS FOR EACH PAGES ENDS HERE*/


/* custom styles would be defined last because they are to have higher specificity or styling power */

/* ...... CUSTOM STYLE......... */

.mainMenu:first-child{
position:absolute;
transform:translateY(-1.2rem);
opacity:1;
}

:root {
--bg: linear-gradient(to left top ,#ff6200,#CD0053);
}

@keyframes animateA{
0%{opacity:1;}
10%{opacity:1;}
20%{opacity:0;}
30%{opacity:0;}
40%{opacity:0;}
50%{opacity:0;}
60%{opacity:0;}
70%{opacity:0;}
80%{opacity:0;}
90%{opacity:0;}
100%{opacity:0;}
}
@keyframes animateB{
0%{opacity:0;}
10%{opacity:0;}
20%{opacity:1;}
30%{opacity:1;}
40%{opacity:1;}
50%{opacity:0;}
60%{opacity:0;}
70%{opacity:0;}
80%{opacity:0;}
90%{opacity:0;}
100%{opacity:0;}
}
@keyframes animateC{
0%{opacity:0;}
10%{opacity:0;}
20%{opacity:0;}
30%{opacity:0;}
40%{opacity:0;}
50%{opacity:1;}
60%{opacity:1;}
70%{opacity:1;}
80%{opacity:0;}
90%{opacity:0;}
100%{opacity:0;}
}
@keyframes animateD{
0%{opacity:0;}
10%{opacity:0;}
20%{opacity:0;}
30%{opacity:0;}
40%{opacity:0;}
50%{opacity:0;}
60%{opacity:0;}
70%{opacity:0;}
80%{opacity:1;}
90%{opacity:1;}
100%{opacity:1;}
}

.hidden{
display:none;
}

.show{
display:initial;
}
.light{
background:url("contact.jpeg");
}

.mode{
font-family:'updock',cursive;
font-weight:1000;
margin:10px;
}


/* CUSTOM ENDS HERE */
